body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    

    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    width: 80%;

}
.hero {
    background: #e5e7cc;
    
}
header {
    color: black; 
    display: flex;
    flex-direction: column;
    height: 30px;
    padding-top: 0;
    padding-left: 10px;
    margin-top: 0;
    font-size: larger;
    font-weight: 900;
}

.header,
.signup,
footer {
    background: #1f2937;
    padding-top: 2px;
    justify-content: space-around;  
}

.header {
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 1;
}
.links {
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}
li {
    margin-left: 10px;
}
.photo>p>a,
ul li>a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
h2 {
    color: #F9FAF8;
    font: 48px;
    font-weight: bolder;
    margin-bottom: 5px;
    padding: 0;
}
.signup {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.signup  p {
    font-size: 18px;
    color: #F9FAF8;
    margin-top: 5px;
}
.signup-definition {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.signup >.signup-definition > button {
    color: #F9FAF8;
    background: #3882F6;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: large;
    margin-top: 20px;
}

.signup >.signup-definition > p {
    margin: 0;
    
}
.action {
    background: #3882F6;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 85%;
    align-self: center;
    margin-top: 50px;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.card {
    width: 250px;
    height: auto;
    border: #e5e7cc 2px solid;
}
.quote {
    background: #E5E7EB;
    font-size: 26px;
    font-style: italic;
    color: #1f2937;
    margin-top: 20px;
    padding: 100px;
}
.action button {
    background: #3882F6;
    color: #F9FAF8;
    border: #000 solid;
    align-self: last baseline;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: large;
}
footer {
    color: #E5E7EB;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-radius: 5px;
    
}
div {
    border-radius: 5px;
}
button:hover {
    border: #F9FAF8 solid;
}
ul > li> a:hover {
    color: #3882F6;
    border: solid #F9FAF8;
    padding: 5px;
    border-radius: 5px;
    background: #E5E7EB;
    font-weight: 800;
}